<p style="color: green"><%= notice %></p>

<%= render @essay %>

<div>
  <%= link_to "Edit this essay", edit_essay_path(@essay) %> |
  <%= link_to "Back to essays", essays_path %>

  <%= button_to "Destroy this essay", @essay, method: :delete %>
</div>
